#mcf-plugin h1 small {
  color: #bbb;
  font-size: 12px;
  line-height: 12px;
}

#mcf-plugin ul {
  list-style-type: disc;
  padding-left: 3em;
}

#mcf-plugin #mcf-custom-css {
  width: 80%;
  background-color: #2c3338;
  color: #fff;
  font-family:'Courier New', Courier, monospace;
  padding: 1rem;
}

#tab-panel-mcf-variables-help-tab table.variables {
  width: 100%;
  border-spacing: 0;
}

#tab-panel-mcf-variables-help-tab table.variables thead {
  background-color: #2c3338;
  color: #fff;
  text-align: left;
}
#tab-panel-mcf-variables-help-tab table.variables thead tr th,
#tab-panel-mcf-variables-help-tab table.variables tbody tr td {
  padding: 2px 4px;
}

#tab-panel-mcf-variables-help-tab table.variables tbody tr.headline {
  background-color: #d2d2d2;
  color: #2c3338;
  font-weight: 500;
}

@media screen and (max-width: 960px) {
  #mcf-plugin #mcf-custom-css { width: 100%; }
}

