#minimal-contact-form {
  width: 100%;
}

#minimal-contact-form * {
  box-sizing: border-box;
}

#minimal-contact-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#minimal-contact-form .item {
  width: 100%;
}

#minimal-contact-form .notice {
  color: #333;
}

#minimal-contact-form .notice .success {
  color: #46b450;
}

#minimal-contact-form .notice .warning {
  color: #ffb900;
}

#minimal-contact-form .notice .error {
  color: #dc3232;
}


#minimal-contact-form input,
#minimal-contact-form textarea {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #333;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  height: inherit;
  margin-bottom: 1.5rem;
  padding: 1rem;
  width: 100%;
  
}

#minimal-contact-form input::placeholder, #minimal-contact-form textarea::placeholder {
  color: #999;
}

#minimal-contact-form input[type="checkbox"] {
  float: left;
  line-height: normal;
  margin: 0.35em 0 0;
  width: auto;
}

#minimal-contact-form label.label,
#minimal-contact-form label.no-label {
  display: none;
}

#minimal-contact-form.with-labels label.label {
  display: block;
}

#minimal-contact-form label .required {
  color: #dc3232;
}

#minimal-contact-form label.consent-caption {
  color: #333;
  display: block;
  margin-left: 1.625em;
  margin-bottom: 1.5em;
  font-weight: normal;
  max-width: 100%;
}

#minimal-contact-form p.privacy {
  margin: 0 0 1.5rem;
}

#minimal-contact-form input.address {
  display: none;
}

#minimal-contact-form .item-submit {
  display: flex;
  flex-direction: column;
}

#minimal-contact-form button {
  background-color: #222;
  border: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: inherit;
  margin-bottom: 1.5rem;
  margin-left: auto;
  padding: 1rem 2rem;
  text-shadow: none;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -webkit-appearance: button;
}

#minimal-contact-form button:hover {
  background-color: #555;
}

#minimal-contact-form input[type="text"].not-valid,
#minimal-contact-form input[type="email"].not-valid,
#minimal-contact-form input[type="phone"].not-valid,
#minimal-contact-form textarea.not-valid {
  border-color: #dc3232;
}

#minimal-contact-form label.consent-caption.not-valid {
  color: #dc3232;
}

@media screen and (min-width: 30em) {
  #minimal-contact-form input[type="checkbox"] {
    margin: 0.4em 0 0;
  }
  #minimal-contact-form.one-line .item-name,
  #minimal-contact-form.one-line .item-email {
    width: calc(50% - .75rem);
  }

  #minimal-contact-form.one-line .item-name {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 48em) {
  #minimal-contact-form {
    max-width: 36em;
  }
  #minimal-contact-form input[type="checkbox"] {
    margin: 0.3em 0 0;
  }
}