#minimal-contact-form {
  width: 100%;
}

#minimal-contact-form * {
  box-sizing: border-box;
}

#minimal-contact-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#minimal-contact-form .item {
  width: 100%;
}

#minimal-contact-form .notice {
  color: var(--mcf-text-color, #333);
}

#minimal-contact-form .notice .success {
  color: var(--mcf-success-color, #46b450);
}

#minimal-contact-form .notice .warning {
  color: var(--mcf-warning-color, #ffb900);
}

#minimal-contact-form .notice .error {
  color: var(--mcf-error-color, #dc3232);
}


#minimal-contact-form input,
#minimal-contact-form textarea {
  background: var(--mcf-item-background-color, #fff);
  border: 1px solid var(--mcf-border-color, #bbb);
  border-radius: var(--mcf-border-radius, .25rem);
  -webkit-border-radius: var(--mcf-border-radius, .25rem);
  color: var(--mcf-text-color, #333);
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  height: inherit;
  margin-bottom: var(--mcf-item-spacing, 1.5rem);
  padding: var(--mcf-item-padding, 1rem);
  width: 100%;
  
}

#minimal-contact-form input::placeholder, #minimal-contact-form textarea::placeholder {
  color: var(--mcf-placeholder-color, #999);
}



#minimal-contact-form label.label,
#minimal-contact-form label.no-label {
  display: none;
}

#minimal-contact-form.with-labels label.label {
  display: block;
  font-size: var(--mcf-label-font-size, inherit);
  font-weight: var(--mcf-label-font-weight, inherit);
}

#minimal-contact-form label .required {
  color: var(--mcf-error-color, #dc3232);
}

#minimal-contact-form .item-gdpr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#minimal-contact-form input[type="checkbox"]:checked,
#minimal-contact-form input[type="checkbox"]:not(:checked) {
  display: none;
  visibility: hidden;
  width: 1px;
}

#minimal-contact-form input[type="checkbox"]:checked + label.gdpr-caption,
#minimal-contact-form input[type="checkbox"]:not(:checked) + label.gdpr-caption {
  position: relative;
  color: var(--mcf-text-color, #333);
  margin-bottom: var(--mcf-item-spacing, 1.5rem);
  padding-left: 2rem;
  font-weight: normal;
  max-width: 100%;
  cursor: pointer;
  font-size: var(--mcf-gdpr-font-size, 1rem);
}

#minimal-contact-form input[type="checkbox"]:checked + label::before,
#minimal-contact-form input[type="checkbox"]:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: .25rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--mcf-border-color, #bbb);
  background: var(--mcf-item-background-color, #fff);
  border-radius: var(--mcf-border-radius, .25rem);
  -webkit-transition: all .275s;
  transition: all .275s;
}

#minimal-contact-form input[type="checkbox"]:checked + label::after,
#minimal-contact-form input[type="checkbox"]:not(:checked) + label::after {
  content: '\2715';
  position: absolute;
  top: .8rem;
  left: .175rem;
  font-size: 1rem;
  color: var(--mcf-checkbox-color, #dc3232);
  line-height: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#minimal-contact-form input[type="checkbox"] + label.not-valid::before {
  border-color: var(--mcf-error-color, #dc3232);
}

#minimal-contact-form input[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
}

#minimal-contact-form input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

#minimal-contact-form p.privacy {
  margin: 0 0 var(--mcf-item-spacing, 1.5rem);
}

#minimal-contact-form input.address {
  display: none;
}

#minimal-contact-form .item-submit {
  display: flex;
  flex-direction: column;
}

#minimal-contact-form button {
  background-color: var(--mcf-button-background-color, #222);
  border: 0;
  border-radius: var(--mcf-border-radius, .25rem);
  -webkit-border-radius: var(--mcf-border-radius, .25rem);
  box-shadow: none;
  -webkit-box-shadow: none;
  color: var(--mcf-button-color, #fff);
  cursor: pointer;
  display: inline-block;
  font-weight: var(--mcf-button-font-weight, 700);
  font-size: inherit;
  margin-bottom: var(--mcf-item-spacing, 1.5rem);
  margin-left: auto;
  padding: var(--mcf-button-padding, 1rem 2rem);
  text-shadow: none;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -webkit-appearance: button;
}

#minimal-contact-form button:hover {
  background-color: var(--mcf-button-background-hover-color, #555);
  color: var(--mcf-button-hover-color, #fff);
}

#minimal-contact-form input[type="text"].not-valid,
#minimal-contact-form input[type="email"].not-valid,
#minimal-contact-form input[type="phone"].not-valid,
#minimal-contact-form textarea.not-valid {
  border-color: var(--mcf-error-color, #dc3232);
}

#minimal-contact-form label.consent-caption.not-valid {
  color: var(--mcf-error-color, #dc3232);
}

@media screen and (min-width: 30em) {
  #minimal-contact-form.one-line .item-name,
  #minimal-contact-form.one-line .item-email {
    width: calc(50% - (var(--mcf-item-spacing, 1.5rem) / 2));
  }

  #minimal-contact-form.one-line .item-name {
    margin-right: var(--mcf-item-spacing, 1.5rem);
  }
}

@media screen and (min-width: 48em) {
  #minimal-contact-form {
    max-width: var(--mcf-desktop-max-width, 36em);
  }
}