.DS_Store
deploy.sh
push.sh
push.ps1
.synchronize
rsync.log
rclone.log
translation.txt

# Composer
/vendor/
composer.lock

# Node
/admin-app/node_modules/
/admin-app/package-lock.json
/admin-app/pnpm-lock.yaml

# Built assets (uncomment if you want to exclude from git)
# /assets/admin/js/
# /assets/admin/css/
# *.asset.php
