.DS_Store
deploy.sh
push.sh
.synchronize
rsync.log
rclone.log
audit.log
translation.txt

# Composer
/vendor/
composer.lock

# Node
node_modules
package-lock.json
pnpm-lock.yaml

# Built assets (uncomment if you want to exclude from git)
# /assets/admin/js/
# /assets/admin/css/
# *.asset.php

*.md