#mcf-plugin h1 small {
  color: #646970;
  font-size: 12px;
  line-height: 12px;
}

#mcf-plugin .postbox .inside h2 {
  font-size: 20px;
}

#mcf-plugin form>.submit {
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

/***** Controls *****/

/*** Toggle ***/

#mcf-plugin .toggle-container {
  display: flex;
  flex-direction: row;
  gap: .375rem;
}

#mcf-plugin .toggle {
  flex: 0 0 auto;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 65px;
  height: 25px;
  padding: 2px;
  background-color: #2c3338;
  border-radius: 25px;
  cursor: pointer;
}

#mcf-plugin .toggle .toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#mcf-plugin .toggle .toggle-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #e4e4e5;
  border-radius: inherit;
  transition: all 0.15s ease-out;
}

#mcf-plugin .toggle .toggle-label::before,
#mcf-plugin .toggle .toggle-label::after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  transition: inherit;
}

#mcf-plugin .toggle .toggle-label:before {
  content: attr(data-off);
  right: 6px;
  color: #1d2327;
}

#mcf-plugin .toggle .toggle-label:after {
  content: attr(data-on);
  left: 6px;
  color: white;
  opacity: 0;
}

#mcf-plugin .toggle .toggle-input:checked~.toggle-label {
  background: #2271b1;
}

#mcf-plugin .toggle .toggle-input:checked~.toggle-label:before {
  opacity: 0;
}

#mcf-plugin .toggle .toggle-input:checked~.toggle-label:after {
  opacity: 1;
}

#mcf-plugin .toggle .toggle-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 25px;
  transition: left 0.15s ease-out;
}

#mcf-plugin .toggle .toggle-handle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
}

#mcf-plugin .toggle .toggle-input:checked~.toggle-handle {
  left: 40px;
}

#mcf-plugin .toggle + .caption {
  flex: 1 1 auto;
  padding-top: 5px;
}

@media only screen and (min-width: 800px) and (max-width: 1499px) {
  #mcf-plugin .toggle-container {
    flex-direction: column;
  }
  #mcf-plugin .toggle+.caption {
    padding-top: 0;
  }
}

/***** Widgets *****/

#mcf-plugin .postbox {
  display: flex;
  flex-direction: column;
}

#mcf-plugin .postbox .postbox-footer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#mcf-plugin .postbox .postbox-footer p.submit {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
}

@media only screen and (min-width: 1500px) {
  #mcf-plugin #dashboard-widgets .postbox-container {
    width: 50%;
  }
}


/***** Layout Widget *****/

#mcf-plugin #dashboard_layout p.submit {
  padding: 0;
}


#mcf-plugin .form-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--item-spacing, .75rem);
  font-size: 16px;
}

#mcf-plugin .form-layout.single-column {
  grid-template-columns: 1fr;
}

#mcf-plugin .form-layout:not(.single-column) .company,
#mcf-plugin .form-layout:not(.single-column) .name,
#mcf-plugin .form-layout:not(.single-column) .subject,
#mcf-plugin .form-layout:not(.single-column) .message,
#mcf-plugin .form-layout:not(.single-column) .privacy,
#mcf-plugin .form-layout:not(.single-column) .button {
  grid-column: span 2;
}

@media screen and (max-width: 480px) {
  #mcf-plugin .form-layout {
    grid-template-columns: 1fr;
  }
  #mcf-plugin .form-layout:not(.single-column) .company,
  #mcf-plugin .form-layout:not(.single-column) .name,
  #mcf-plugin .form-layout:not(.single-column) .subject,
  #mcf-plugin .form-layout:not(.single-column) .message,
  #mcf-plugin .form-layout:not(.single-column) .privacy,
  #mcf-plugin .form-layout:not(.single-column) .button {
    grid-column: span 1;    
  }
}

#mcf-plugin .form-layout .item:not(.privacy) .toggle {
  position: absolute;
  left: -9999px;
}

#mcf-plugin .form-layout .item.privacy .with-checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#mcf-plugin .form-layout .item.privacy .with-checkbox input[type="checkbox"] {
  margin-top: 1px;
}

#mcf-plugin .form-layout .item.privacy label {
  display: block;
}

#mcf-plugin .form-layout .item.privacy .without-checkbox p {
  margin: 0;
}


/*** Deactivated Styles ***/

#mcf-plugin .form-layout .item:not(.privacy) label {
  display: block;
  padding: var(--item-padding, .75rem 1rem);
  background-color: #f4f4f4;
  border: 1px solid #969ba3;
  border-radius: .25rem;
  color: #969ba3;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  height: inherit;
}

#mcf-plugin .form-layout .item.message label {
  padding-bottom: 6rem;
}

/*** Actual Styles ***/

#mcf-plugin .form-layout .item label .required {
  color: #969ba3;
}

#mcf-plugin .form-layout .item .toggle:checked~label {
  background-color: var(--item-background-color, #fff);
  border-color: var(--item-border-color, #bbb);
  border-radius: var(--item-border-radius, .25rem);
  border-style: solid;
  border-width: var(--item-border-width, 1px);
  color: var(--item-text-color, #3c434a);
  font-size: var(--item-font-size, 1em);
}

#mcf-plugin .form-layout .item .toggle:checked~label .required,
#mcf-plugin .form-layout .item.privacy .with-checkbox .required {
  color: var(--item-required-color, #dc3232);
}

#mcf-plugin .form-layout .item .toggle:checked~label.bottom-border {
  border-width: 0 0 var(--item-border-width, 1px) 0;
}



/*** Button ***/

#mcf-plugin .form-layout .button {
  appearance: button;
  background-color: var(--button-background-color, #222);
  border-color: var(--button-border-color, #222);
  border-width: var(--button-border-width, 1px);
  border-style: solid;
  border-radius: var(--button-border-radius, .25rem);
  box-shadow: none;
  color: var(--button-text-color, #fff);
  cursor: pointer;
  display: inline-block;
  font-size: var(--button-font-size, 1em);
  font-weight: var(--button-font-weight, 700);
  margin-right: auto;
  margin-left: 0;
  text-shadow: none;
  transition: all 0.2s;
  padding: var(--button-padding, .5rem) calc(var(--button-padding, .5rem) * 2);
}

#mcf-plugin .form-layout .button.right {
  margin-left: auto;
  margin-right: 0;
}

#mcf-plugin .form-layout .button.border-none {
  border: none;
}

#mcf-plugin .form-layout .button:hover {
  color: var(--button-text-color-hover, #fff);
  background-color: var(--button-background-color-hover, #555);
  border-color: var(--button-border-hover-hover, #555);
}


/***** Settings Widget *****/


/***** Styling Widget *****/



#mcf-plugin #dashboard_styling .inside {
  padding: 0;
  margin: 0;
}

#mcf-plugin #dashboard_styling .ui-accordion .ui-accordion-header {
  padding: 8px 12px;
  border-bottom: 1px solid #c3c4c7;
  background-color: #fafafb;
  font-weight: 500;
  margin: 0;
}

#mcf-plugin #dashboard_styling .ui-accordion .ui-accordion-content-active + .ui-accordion-header {
  border-top: 1px solid #c3c4c7;
}

#mcf-plugin #dashboard_styling .ui-accordion .ui-accordion-content {
  padding: 8px 12px;
}

#mcf-plugin #dashboard_styling textarea#misc-custom-css {
  width: 100%;
  background-color: #2c3338;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
}

/*** Slider ***/

#mcf-plugin .slider-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#mcf-plugin .slider-row .styling-slider {
  flex: 1 0 auto;
  background: #f0f0f1;
  height: 8px;
  position: relative;
}

#mcf-plugin .slider-row .styling-slider .ui-slider-handle {
  background: #2c3338;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  top: -6px;
  width: 20px;
}

#mcf-plugin .slider-row .styling-slider-amount {
  flex: 0 0 auto;
  font-weight: 500;
  margin-left: 1.5rem;
}

#mcf-plugin .slider-row .styling-slider-value {
  display: none;
}

/***** Labels *****/

#mcf-plugin label {
  display: inline-flex;
}

#mcf-plugin label input {
  position: relative;
  top: 5px;
  margin-right: .5rem;
}

#mcf-plugin label .caption {
  display: inline-block;
}

#mcf-plugin label .caption span.versions {
  color: #bbb;
}

#mcf-plugin label+.font-list {
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

#mcf-plugin label+.pages {
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: none;
}




/***** Multi Color Pickers *****/

#mcf-plugin .form-table td.multi-color-pickers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: start;
  align-items: start;
}

@media only screen and (min-width: 800px) and (max-width: 1499px) {
  #mcf-plugin .form-table td.multi-color-pickers {
    grid-template-columns: 1fr;
  }
}

#mcf-plugin .form-table td.multi-color-pickers .state {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#mcf-plugin .form-table td.multi-color-pickers .state label {
  margin-bottom: .25rem;
  font-weight: 500;
}
