#minimal-contact-form {
  width: 100%;
}

#minimal-contact-form * {
  box-sizing: border-box;
}

#minimal-contact-form form {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: var(--item-spacing, .75rem);
}

#minimal-contact-form form.single-column {
  grid-template-columns: 1fr;
}

#minimal-contact-form .item {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

#minimal-contact-form form.single-column .item {
  grid-column: span 1;
}

@media screen and (max-width: 480px) {
  #minimal-contact-form form {
    grid-template-columns: 1fr;
  }
  #minimal-contact-form .item {
    grid-column: span 1;
  }
}

#minimal-contact-form .notice {
  color: var(--misc-notice-color, #333);
  margin-bottom: var(--item-spacing, .75rem);
}

#minimal-contact-form .notice.success {
  color: var(--misc-success-color, #46b450);
}

#minimal-contact-form .notice.warning {
  color: var(--misc-warning-color, #ffb900);
}

#minimal-contact-form .notice.error {
  color: var(--misc-error-color, #dc3232);
}

/*** LABELS ***/

#minimal-contact-form label {
  font-size: var(--item-font-size, 1em);
}

#minimal-contact-form label.no-label {
  display: none;
}

#minimal-contact-form label .required {
  color: var(--item-required-color, #dc3232);
}

/*** ELEMENTS ***/

#minimal-contact-form input,
#minimal-contact-form textarea {
  background-color: var(--item-background-color, #fff);
  border-color: var(--item-border-color, #bbb);
  border-radius: var(--item-border-radius, .25rem);
  border-style: solid;
  border-width: var(--item-border-width, 1px);
  color: var(--item-text-color, #3c434a);
  display: block;
  font-family: inherit;
  font-size: var(--item-font-size, 1em);
  font-weight: 400;
  height: inherit;
  outline: none;
  padding: var(--item-padding, .75rem 1rem);
  transition: background-color 5000s, border-color 0.5s, color 5000s;
}

#minimal-contact-form input:focus,
#minimal-contact-form textarea:focus,
#minimal-contact-form input:active,
#minimal-contact-form textarea:active,
#minimal-contact-form input:-webkit-autofill {
  background-color: var(--item-background-color-focus, #999);
  border-color: var(--item-border-color-focus, #999);
  color: var(--item-text-color, #3c434a);
}

#minimal-contact-form input::placeholder,
#minimal-contact-form textarea::placeholder {
  color: var(--item-placeholder-color, #999);
}

#minimal-contact-form input.error,
#minimal-contact-form textarea.error {
  border-color: var(--mcf-error-color, #dc3232) !important;
}

#minimal-contact-form input.bottom-border,
#minimal-contact-form textarea.bottom-border {
  border-width: 0 0 var(--item-border-width, 1px) 0;
}

/*** PRIVACY ***/

#minimal-contact-form .item-privacy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#minimal-contact-form .item-privacy input[type="checkbox"]:not(:checked),
#minimal-contact-form .item-privacy input[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

#minimal-contact-form .item-privacy input[type="checkbox"]:not(:checked) + label,
#minimal-contact-form .item-privacy input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

#minimal-contact-form .item-privacy input[type="checkbox"]:not(:checked)+label:before,
#minimal-contact-form .item-privacy input[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid var(--item-border-color, #bbb);
  background: var(--item-background-color, #fff);
  border-radius: calc(var(--item-border-radius, .25rem) / 2);
  -webkit-transition: all .275s;
  transition: all .275s;
}

#minimal-contact-form .item-privacy input[type="checkbox"]:not(:checked)+label:after,
#minimal-contact-form .item-privacy input[type="checkbox"]:checked+label:after {
  content: '✕';
  position: absolute;
  top: .55em;
  left: .15em;
  font-size: 1.375em;
  color: var(--item-border-color-focus, #999);
  line-height: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#minimal-contact-form .item-privacy input[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

#minimal-contact-form .item-privacy input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

/* Accessibility */
#minimal-contact-form .item-privacy input[type="checkbox"]:checked:focus+label:before,
#minimal-contact-form .item-privacy input[type="checkbox"]:not(:checked):focus+label:before {
  background-color: var(--item-background-color-focus, #f00);
}

#minimal-contact-form .item-privacy input[type="checkbox"].error + label::before {
  border-color: var(--mcf-error-color, #dc3232) !important;
}

#minimal-contact-form .item-privacy label {
  display: block;
}

#minimal-contact-form .item-privacy p.privacy {
  margin: 0;
}

/*** SUBMIT BUTTON ***/

#minimal-contact-form .item-submit .submit {
  appearance: button;
  background-color: var(--button-background-color, #222);
  border-color: var(--button-border-color, #222);
  border-width: var(--button-border-width, 1px);
  border-style: solid;
  border-radius: var(--button-border-radius, .25rem);
  box-shadow: none;
  color: var(--button-text-color, #fff);
  cursor: pointer;
  display: inline-block;
  font-size: var(--button-font-size, 1em);
  font-weight: var(--button-font-weight, 700);
  margin-right: auto;
  margin-left: 0;
  text-shadow: none;
  transition: all 0.3s;
  padding: var(--button-padding, .5rem) calc(var(--button-padding, .5rem) * 2);
}

#minimal-contact-form .item-submit .submit.right {
  margin-left: auto;
  margin-right: 0;
}

#minimal-contact-form .item-submit .submit:hover {
  color: var(--button-text-color-hover, #fff);
  background-color: var(--button-background-color-hover, #555);
  border-color: var(--button-border-hover-hover, #555);
}